{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- Members -->
<!-- { include "dashboard/members.html" %} -->
<!-- Infos -->
{% include "dashboard/infos.html" %}
<!-- Graphic -->
<!-- { include "dashboard/traffic.html" %} -->
<!-- Social-->
<!-- { include "dashboard/social.html" %} -->
<!-- Traffic & Sales -->
<!-- { include "dashboard/traffic_sales.html" %} -->
<!-- Sales -->
<!-- { include "dashboard/table.html" %} -->
<!-- Imoveis -->
{% include "dashboard/imoveis.html" %}
{% endblock content %}