{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Imóveis
        <span class="float-right">1 of 10 resultados (100 total)</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-auto">
            <a class="btn btn-primary" href="{% url 'usuario:funcionario_create' %}">
              <i class="fa fa-plus"></i>
              Adicionar
            </a>
          </div>
          <div class="col">
            <form action="." method="GET">
              <div class="row">
                <div class="col p-ari-5">
                  <input name="search" class="form-control mb-2" type="text" placeholder="Busca..." />
                </div>
                <div class="col-auto">
                  <button class="btn btn-success mb-2" type="submit">OK</button>
                  <button class="btn btn-link mb-2">Limpar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- TABLE -->
        <table class="table table-responsive-sm table-hover table-striped">
          <thead>
            <tr>
              <th>ID</th>
                <th>NOME</th>
                <th>TELEFONE</th>
                <th>CRI</th>
                <th>FOTO</th>
                <th>EMAIL</th>
                <th>TIPO</th>
                <th>AÇÃO</th>
            </tr>
          </thead>
          <tbody>
            {% for funcionario in object_list %}
              <tr>
                <td>{{ funcionario.id }}</td>
                <td><a href="{% url 'usuario:funcionario_detail' funcionario.pk %}">{{ funcionario.usuario.get_full_name }}</a></td>
                <td>{{ funcionario.telefone }}</td>
                <td>{{ funcionario.cri }}</td>
                <td>{% if funcionario.avatar %}<img src="{{ funcionario.avatar.url }}" alt="" width="50px">{% endif %}</td>
                <td>{{ funcionario.usuario.email }}</td>
                <td>{{ funcionario.get_tipo_display }}</td>
                <td width="120px">
                  <div class="botoes list">
                    <a href="{{ funcionario.get_absolute_url }}" class="btn btn-primary"><i class="icon-pencil"></i></a>
                    <a href="{{ funcionario.get_delete_url }}" class="btn btn-danger"><i class="icon-trash"></i></a>
                  </div>
                </td>
              </tr>
          </tbody>
          {% endfor %}
        </table>
        <!-- pagination -->
        {% include "includes/pagination.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

