{% extends 'painel.html' %}
{% load static %}
{% load bootstrap %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Lista de Usuários</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
</head>
<body>
  <style>
  .botoes-items {
    display: inline-block;
    margin-left: 900px;
  }
  </style>
  <div class="container">
    <div align="center">
      <h2 id="cad">Lista de Usuários</h2>
    </div>
    <div class="botoes-items">
      <div class="botoes">
        <a href="{% url 'usuario:usuario_create' %}" class="btn btn-md btn-success">Cadastrar Usuário</a>
        <a href="/painel" class="btn btn-danger" role="button">Voltar</a></div>
      <br>
    </div>
     <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <table id="dataTables-service-order" class="table table-striped table-bordered table-hover" data-url="">
            <thead>
              <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>TELEFONE</th>
                <th>CRI</th>
                <th>FOTO</th>
                <th>EMAIL</th>
                <th>TIPO</th>                                              
                <th>AÇÃO</th>                                              
              </tr>
            </thead>
            <tbody>
              {% for usuario in object_list %}
              <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.telefone }}</td>
                <td>{{ usuario.numero_cri }}</td>
                <td>{% if usuario.avatar %}<img src="{{ usuario.avatar.url }}" alt="" width="50px">{% endif %}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.tipo }}</td>
                <td>                
                    <div class="botoes list">                     
                      <a href="{{ usuario.get_absolute_url }}" class="btn btn-primary"><i class="icon-pencil"></i></a>
                      <a href="{{ usuario.get_delete_url }}" class="btn btn-danger"><i class="icon-trash"></i></a>
                    </div>                
                </td>
              </tr>
            </tbody>
        {% endfor %}
      </table>
      {% endblock %}