{% extends 'painel.html' %}
{% load static %}
{% block imoveis %}
<!DOCTYPE html>
<html>

<head>
  <title>Lista de Imóveis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <style>
  .botoes-items {
    display: inline-block;
    margin-left: 900px;
  }
  </style>
  <div class="container">
    <div align="center">
      <h2 id="cad">Lista de Imóveis</h2>
    </div>
    <div class="botoes-items">
      <div class="botoes">
        <a href="{% url 'imovel:imovel_create' %}" class="btn btn-md btn-success">Cadastrar Imóvel</a>
        <a href="/painel" class="btn btn-danger" role="button">Voltar</a>
      </div>
      <br>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <table id="dataTables-service-order" class="table table-striped table-bordered table-hover" data-url="">
            <!-- <table class="table table-striped table-bordered table-hover" id="dataTables-service-order"> -->
            <thead>
              <tr role="row">
                <th>ID</th>
                <th>NOME</th>
                <th>NEGÓCIO</th>
                <th>CATEGORIA</th>
                <th>PROPRIEDADE</th>
                <th>STATUS</th>
                <th>CORRETOR</th>
                <th>LOCALIZAÇÃO</th>
                <th>IMAGEM</th>
                <th>AÇÃO</th>
              </tr>
            </thead>
            <tbody>
              {% for imovel in imoveis %}
              <tr>
                <th scope="row">{{ imovel.id }}</th>
                <td>{{ imovel.titulo }}</td>
                <td>{{ imovel.negocio }}</td>
                <td>{{ imovel.categoria }}</td>
                <td>{{ imovel.propriedade }}</td>
                <td>{{ imovel.status }}</td>
                <td>{{ imovel.corretor.nome }}</td>
                <td>{{ imovel.localizacao }}</td>
                <td>
                  {% if imovel.first_image %}
                  <img src="{{ imovel.first_image.imagem.url }}" alt="" width="50px">
                  {% else %}
                  Falta
                  {% endif %}
                </td>
                <td>
                  <div class="botoes list">
                    <a href="{% url 'imovel:imovel_detail' imovel.id %}" class="btn btn-success"><i class="fa fa-eye"></i></a>
                    <a href="{% url 'imovel:imovel_update' imovel.id %}" class="btn btn-primary"><i class="icon-pencil"></i></a>
                    <a href="{% url 'imovel:imovel_delete' imovel.id %}" class="btn btn-danger"><i class="icon-trash"></i></a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</body>
</table>
{% endblock %}