{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block content %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Imóvel Nº{{imovel.id}}</title>

 <link href="css/bootstrap.min.css" rel="stylesheet">
 <link href="css/style.css" rel="stylesheet">
</head>
<body>
 <h1 style="text-align: center;">Dados do Imóvel</h1>
 <div id="main" class="container-fluid">
  <h3 class="page-header" enctype="multipart/form-data">Visualizar Imóvel Nº{{imovel.id}}</h3>

 
  <div class="row">
    <div class="col-md-4">
      <p><strong>Nome:</strong></p>
      <p>{{imovel.titulo}}</p>
    </div>
  
  <div class="col-md-4">
      <p><strong>Propriedade</strong></p>
      <p>{{imovel.propriedade}}</p>
    </div>
  
  <div class="col-md-4">
      <p><strong>Negócio</strong></p>
      <p>{{imovel.negocio}}</p>
    </div>

    <div class="col-md-4">
      <p><strong>Categoria</strong></p>
      <p>{{imovel.categoria}}</p>
    </div>
  
  <div class="col-md-4">
      <p><strong>Localização</strong></p>
      <p>{{imovel.localizacao}}</p>
    </div>
  
  <div class="col-md-4">
      <p><strong>Endereço</strong></p>
      <p>{{imovel.endereco}}</p>
    </div>
  
    <div class="col-md-4">
      <p><strong>Área</strong></p>
      <p>{{imovel.area}}</p>
    </div>
  
  <div class="col-md-4">
      <p><strong>Quarto(s)</strong></p>
      <p>{{imovel.num_quarto}}</p>
    </div>
  
  <div class="col-md-4">
      <p><strong>Banheiro(s)</strong></p>
      <p>{{imovel.num_banheiro}}</p>
    </div>

  <div class="col-md-4">
      <p><strong>Vaga(s)</strong></p>
      <p>{{imovel.num_vaga}}</p>
    </div>
  <div class="col-md-4">
      <p><strong>Disponibilidade</strong></p>
      <p>{{imovel.status}}</p>
    </div>
 
  <div class="col-md-4">
      <p><strong>Corretor(a)</strong></p>
      <p>{{imovel.corretor}}</p>
    </div>

    <div class="col-md-8">
      <p><strong>Descrição</strong></p>
      <p> {{imovel.descricao}}</p>
    </div>


  <div class="holder">
      <p><strong>Imagens</strong></p>
      {% for item in imovel.imagem_imoveis.all %}
        <!-- {{ iterador.campo }} -->
        {% if item.imagem %}
          <img src="{{ item.imagem.url }}" width="180">
        {% endif %}
      {% endfor %} 
  </div>

  <div id="actions" class="row">
   <div class="col-md-12">
    <input type="button" value="Voltar" style="margin-left: 1100px;" class="btn btn-info" onClick="history.go(-1)">  <input type="submit" class="btn btn-success" value="Salvar">  
   </div>
  </div>
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock %}

