{% load static %}
<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <!--<a class="nav-link" href="{% url 'core:painel' %}">
          <i class="nav-icon icon-speedometer"></i> Dashboard
          <!-- <span class="badge badge-primary">NEW</span>
        </a>-->
        <br>
        <p><a href=""><img src="{% static 'img/logoRS.jpg' %}" width="190"></a></p>
        <br>
      </li>
      <li class="nav-title">Imóveis</li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'imovel:imovel_list' %}">
          <i class="nav-icon icon-home"></i> Imóveis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'imovel:imovel_create' %}">
          <i class="nav-icon icon-plus"></i> Cadastrar</a>
      </li>
      <li class="nav-title">Funcionários</li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'usuario:funcionario_list' %}">
          <i class="nav-icon icon-people"></i> Funcionários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'usuario:funcionario_create' %}">
          <i class="nav-icon icon-plus"></i> Cadastrar</a>
      </li>
      <li class="nav-title">Clientes</li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'crm:pf_list' %}">
          <i class="nav-icon icon-people"></i> Pessoa Física</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'crm:pj_list' %}">
          <i class="nav-icon icon-people"></i> Pessoa Jurídica</a>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>